[submit]
	action = cherry pick
[access "refs/heads/*"]
	owner = group user/Pierre Lejeune (SuperHeron)
	read = group Exherbo-github-SuperHeron-replication
	read = group user/Pierre Lejeune (SuperHeron)
	abandon = group user/Pierre Lejeune (SuperHeron)
	create = group user/Pierre Lejeune (SuperHeron)
	forgeAuthor = group user/Pierre Lejeune (SuperHeron)
	forgeCommitter = group user/Pierre Lejeune (SuperHeron)
	forgeServerAsCommitter = group user/Pierre Lejeune (SuperHeron)
	push = group user/Pierre Lejeune (SuperHeron)
	pushMerge = group user/Pierre Lejeune (SuperHeron)
	pushTag = group user/Pierre Lejeune (SuperHeron)
	pushSignedTag = group user/Pierre Lejeune (SuperHeron)
	label-Code-Review = -2..+2 group user/Pierre Lejeune (SuperHeron)
	labelAs-Code-Review = -2..+2 group user/Pierre Lejeune (SuperHeron)
	rebase = group user/Pierre Lejeune (SuperHeron)
	removeReviewer = group user/Pierre Lejeune (SuperHeron)
	submit = group user/Pierre Lejeune (SuperHeron)
	viewDrafts = group user/Pierre Lejeune (SuperHeron)
	editTopicName = group user/Pierre Lejeune (SuperHeron)
	deleteDrafts = group user/Pierre Lejeune (SuperHeron)
	publishDrafts = group user/Pierre Lejeune (SuperHeron)

